* {
    margin: 0;
    padding: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a {
    color: black;
   
}

.header{
   box-shadow:  1px 1px 4px 0px rgba(0, 0, 0, .1);
   position: fixed;
    width: 100%;
    z-index: 3;

}
.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header ul a {
    display: block;
    outline: 1px solid red;
    padding: 20px;
    border-right: 1px #333;
    text-decoration: none;
}
.header ul a:hover{
    background-color: #b30606;
}

.header img{
    float: left;
    display: block;
    padding: 10px  20px;

}


.header .menu{
clear: both;
max-height: 0;
transition:max-height .2s ease-in;
overflow:hidden;
}

.header .menu-icon{
   
    padding: 28px 20px;
    position: relative;
    float: right;
   cursor: pointer;

}
  .header .menu-icon .nav-icon{
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
  }

  .header .menu-icon .nav-icon:before{
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
  }
  .header .menu-icon .nav-icon:after{
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
  }
  .header .menu-btn{
    display: none;
  }

.header .menu-btn:checked ~ .menu{
    max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
 background: transparent;   
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
transform: rotate(45deg);
top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
transform: rotate(-45deg);
top: 0;
}




.hero {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.hero h1 {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.hero p {
    font-size: 20px;

}

.about {
    background-color:#ffffff;
    padding: 5%;
    text-align: center;
    color: rgb 77, 74, 74, ;

}

.about-inner h3 {

    margin-bottom: 20px;
    color: #686465;
}
.about-inner p{
    color: #484444;
}

.about .about-inner {
    margin-bottom: 30px;
    color: #484444;
}

 /* sign up section  */
 .sign-up{
    background-color:#f5f5f5;
    padding:5%;
    display: flex;;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
 }
 .sign-up img{
    width:100%;
    max-width:450px;
 }
 .sign-up h2{
    font-size: 20px;
    color: #616266;
    margin-top:20px;
    margin-bottom:30px;
 }
 .sign-up p{
    font-size:15px;
    margin-bottom:20px;
    max-width:450px;
 }
 .sign-up button{
    height:40px;
    text-transform:uppercase;
   background-color: sandybrown;
    border:none;
    color:#ffffff;
    padding:0 20px;
    font-weight:900;
 }



 /* end sign up section  */

.signUp {
    background-color:#f5f5f5;
    width: 100%;
    text-align: center;
    
   
}

.signUp img {
     width: 80%;
     padding-top: 4%;
    
    /* padding-left: 50px; */
  
   

}

.signUp-inner h4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(196, 191, 191);
    margin-top: 10px;
}

.signUp-inner p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 10px;
    margin-left: 8%;
}



.subSection {
   background-color: hsl(0, 0%, 96%);
   margin: 5% 5% 5% 4%;
   

}


.section-happy h5 {
    position: relative;
   text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.section-happy h6 {
    padding: 20px;
  margin-right: 1%;

}

.section-happy p {
   margin-left: 5%;
}

.how-to-subscribe {
    padding-left: 30px;
    padding-top: 20px;
    background-color:sandybrown;


}

.how-to-subscribe h2 {
    margin-bottom: 15px;
    text-align: center;
    color: white;

}


form input {
    position: relative;
    width: 100px;
    height: 37px;
    margin-bottom: 30px;


}


form input[type="name"] {
    color: black;
    border-radius: 30px 0px 0px 30px;
    border: none;
    padding-left: 5px;
}

form input[type="email"] {
    color: rgb(0, 0, 0);
    border-radius: 0px 30px 30px 0px;
    border: none;
    padding-left: 5px;
}



.how-to-subscribe button {
    color: white;
    width: 120px;
    position: relative;
    padding: 10px;
    border-radius: 15px;
    background-color: black;
    border: none;
}

.footer-in {
    background-color: rgb(41, 39, 39);
    width: 100%;
}

.footer-inn {
    align-items: center;
    text-align: center;
}

.footer-inn ul {
    padding: 10px;
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer-inn ul li a {
    font-weight: 800;
    padding-right: 1%;
    text-decoration: none;
    color: rgb(206, 200, 200);

}

.footer-inn p {
    color: rgb(149, 137, 137);
}

.footer-in .footer-inn hr {
    background-color: rgb(97, 97, 98);
    width: 70%;
    margin: 0 auto;
}




@media(min-width:568px) {
    header ul li a {
        width: 50%;
        padding-left: 50px;
        gap: 4px;
    }

    .about {
       text-align: center;
        height: 100%;
        padding-right: 40px;
    }
   

    .hero h1 {
        font-size: 25px;
    }

    .signUp {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .signUp img {
        margin-top: 15px;
        height: 200px;
        width: 300px;
       

    }


    .subSection {
        display: flex;
        padding: 5% 2% 5% 2%;
        gap: 15px;
      

    }

    .section-happy h5 {
        font-size: 30px;
        margin-top: 10%;
       
    }

    .section-happy p {
       margin: 2%;
    }

    form input {
        left: 150px;
    }

    .how-to-subscribe button {
        left: 160px;
    }

    .footer-inn ul li a {

        
        color: rgb(118, 114, 114);
    }

    .footer-inn p {
        color: rgb(102, 97, 97);
    }

}



@media(min-width:768px) {
    header ul li a {
        padding-right: 30px;

    }
    .hero h1{
        font-size: 30px;
    }

    .about {
        display: flex;
        padding: 5% 3% 5% 3%;
        font-size: 20px;
        gap: 15px;
        
    }

    .about-inner {
        margin-bottom: 40px;
    }

    .signUp h4 {
        font-size: 20px;

    }

    

    .subSection {
        font-size: 20px;
        margin-top: 2%;
    }
    .section-happy h5{
        padding-top: 5%;
        padding-bottom: 0;
    }

    form input {
        align-items: center;
        justify-content: center;
        left: 200px;
        width: 130px;
    }

    .how-to-subscribe button {
        margin-left: 50px;

    }
}


@media(min-width:992px) {
.header{
    position: absolute;
}
.header li{
    float: left;
}
.header li a{
    padding: 20px 30px;
    color: white;
    outline: none;
}
.header .menu{
    clear: none;
    float: right;
    max-height: none;
}

.header .menu-icon{
       display: none;    
        }

.header img {
       float: left;
        
    } 

    .signUp img {
        margin-left: 140px;
    }

    .signUp button {
        margin-left: 80px;
    }


    form input {
        left: 300px;
    }
   
    

    .how-to-subscribe button {
        margin-left: 140px;

    }

    .footer-inn hr {
        width: 70%;
        margin: 0 auto;
    }

    /* sign up now  */
    .sign-up{
        padding-top:20px;
        padding-bottom:20px;
    }
    .sign-up img{
        max-width:550px;
    }
    .sign-up h2{
        font-size:33px;
    }
    .sign-up p{
        max-width:600px;
        font-size:16px;
        line-height: 1.3;
    }
    .sign-up button{
        height:50px;
        font-size:20px;
    }

}

@media(min-width:1200px) {
.header{
    position: absolute;
}
.header li{
    float: left;
}
.header li a{
    padding: 20px 30px;
    color: white;
    outline: none;
}
.header .menu{
    clear: none;
    float: right;
    max-height: none;
}

.header .menu-icon{
       display: none;    
        }

.header img {
       float: left;
        
    }

 .hero h1 {
        font-size:35px;
    }

    .about-inner {
        height: 30vh;
    }

    .about-inner h3 {
        margin-top: 50px;
        font-size: 25px;
          color: #686465 ;
    }

    .about-inner p {
        margin-top: 40px;
         font-size: 17px;
         color:#484444 ;
        
    }

    .signUp{
        margin: 5%, 0%, 5%, 0%,;
    }


    .signUp img {
        height: 350px;
        width: 70%;
        left: 50px;
    }
   

   
   
    

    .signUp .button1 {
      
        font-weight: 800;
        width: 200px;
        height: 50px;
        background-color: sandybrown;
    }
    .signUp p{
        font-size: 18px;
       margin-bottom: 5%;
       color: #686465;
    
    }


    /* happy section  */
    .section-happy{
    padding: 5% 3%;
    margin: 0;

    }
  .section-happy h5{
    color: #616266;
   font-size: 40px;
    padding-top: 0%;
     margin: 0;
     padding-bottom: 40px;

  }
   
    .section-happy p{
   font-size: 17px;
   color: rgb(154, 151, 151);
   }

   .section-happy h6{
   color: rgb(196, 188, 188);
   padding-left: 1%;
   }
   .subSection{
    padding: 4% 4% 6% 4%;
    margin: 0;
    gap: 25px;
 
   }

    .how-to-subscribe {
        height: 250px;
       
    }

    form input {
        left: 400px;
        width: 11%;
        padding: 1% 0;
        height: 1%;
    }

    .how-to-subscribe h2 {
        top: 80px;
        position: relative;
         font-size: 32px;
         margin-bottom: 100px;
       
       
    }

    .how-to-subscribe button {
        margin-left: 250px;
        width:150px ;
        border-radius: 30px;
        padding: 1%;
    }

    .footer-in{
        padding: 4% 0 2% 0;
        text-align: center;
    }

    .footer-inn ul  {
       gap: 2%;
       
    }
    .footer-in .footer-inn hr{
       width: 30%;
       border-color: #4d4d4d;
       margin-top: 2%;
    }

    footer img {
        width: 4%;
        height: auto;
        padding-bottom: 1%;
        object-fit: contain;
    }

    .footer-inn p {
        padding-top: 2%;
    }
    

}

